<div class="component__inner narrative__inner">

  {{> component this}}

  <div class="component__widget narrative__widget{{#if _hasNavigationInTextArea}} narrative__text-controls{{/if}}">

    <div class="narrative__content">
      <div class="narrative__content-inner">

        {{#each _items}}
        <div class="narrative__content-item{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}">

          {{#if title}}
          <div class="narrative__content-title">
            <div class="narrative__content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{compile title}}}
            </div>
          </div>
          {{/if}}

          {{#if body}}
          <div class="narrative__content-body">
            <div class="narrative__content-body-inner">
              {{{compile body}}}
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

        <div class="narrative__controls-container u-clearfix">

          <button data-direction="left" class="btn-icon narrative__controls narrative__controls-left js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon"></div>
          </button>

          <div class="narrative__indicators">
            {{#each _items}}
            <div class="narrative__progress js-narrative-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
            {{/each}}
          </div>

          <button data-direction="right" class="btn-icon narrative__controls narrative__controls-right js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon"></div>
          </button>
        </div>

      </div>
    </div>

    <div class="narrative__strapline">

      <div class="narrative__strapline-header">
        <div class="narrative__strapline-header-inner u-clearfix" style="width: {{_totalWidth}}%">

          {{#each _items}}
          <button class="narrative__strapline-btn js-narrative-strapline-open-popup{{#if _isVisited}} is-visited{{/if}}" aria-label="{{{strapline}}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

            <div class="narrative__strapline-title">
              <div class="narrative__strapline-title-inner">
                {{{compile strapline}}}
              </div>
            </div>

            <div class="btn-icon narrative__strapline-icon">
              <div class="icon"></div>
            </div>

            <div class="focus-rect"></div>

          </button>
          {{/each}}

        </div>
      </div>

    </div>

    <div class="narrative__slide-container">

      <div class="narrative__slider u-clearfix" style="width: {{_totalWidth}}%">

        {{#each _items}}
        <div class="narrative__slider-image-container{{#if _isVisited}} is-visited{{/if}}{{#if _graphic.attribution}} has-attribution{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

          <img class="narrative__slider-image js-narrative-swipe" src="{{_graphic.src}}" {{#if _graphic.alt}}aria-label="{{a11y_normalize _graphic.alt}}"{{else}}aria-hidden="true"{{/if}}>

          {{#if _graphic.attribution}}
          <div class="component__attribution narrative__attribution">
            <div class="component__attribution-inner narrative__attribution-inner">
              {{{_graphic.attribution}}}
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

      </div>

      <button data-direction="left" class="btn-icon narrative__controls narrative__controls-left js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
        <div class="icon"></div>
      </button>

      <button data-direction="right" class="btn-icon narrative__controls narrative__controls-right js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
        <div class="icon"></div>
      </button>

    </div>

    <div class="narrative__indicators narrative__slide-indicators">

      {{#each _items}}
      <div class="narrative__progress js-narrative-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
      {{/each}}

    </div>

  </div>
</div>
