{{! Maintainers - Brian Quinn}}
<div class="narrative-inner component-inner">
    {{#if title}}
    <div class="narrative-title component-title">
        <h4 class="narrative-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="narrative-body component-body">
        <div class="narrative-body-inner component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="narrative-widget component-widget">
        
        <div class="narrative-strapline">
            <div class="narrative-strapline-header">
                <div class="narrative-strapline-header-inner clearfix">
                    {{#each items}}
                    <div class="narrative-strapline-title">
                        <h5 class="narrative-strapline-title-inner">
                           {{{strapline}}} 
                        </h5>
                    </div>
                    {{/each}}
                </div>
            </div>
            <a href="#" class="narrative-popup-open" tabindex="-1">
                <div class="icon icon-plus"></div>
            </a>
        </div>
        
        <div class="narrative-slide-container">
   
            <div class="narrative-popup narrative-hidden">
                <div class="narrative-popup-inner">
                    <div class="narrative-popup-toolbar">
                        <div class="narrative-popup-toolbar-inner clearfix">
                            {{#each items}}
                            <div class="narrative-popup-toolbar-title">
                                <h5 class="narrative-popup-toolbar-inner">
                                    {{{title}}}
                                </h5>
                            </div>
                            {{/each}}
                            <a href="#" class="narrative-popup-close">
                                <div class="icon icon-cross"></div>
                            </a>
                        </div>
                    </div>
                    {{#each items}}
                    <div class="narrative-popup-content">
                        <div class="narrative-popup-content-inner">
                            {{{body}}}  
                        </div> 
                    </div>
                    {{/each}}
                </div>
            </div>
  
            <a href="#" class="narrative-controls narrative-control-left">
                <div class="icon icon-controls-left"></div>
            </a>
            <a href="#" class="narrative-controls narrative-control-right">
                <div class="icon icon-controls-right"></div>
            </a>
            
            <div class="narrative-slider clearfix">
                {{#each items}}
                <div class="narrative-slider-graphic">
                    <img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{{graphic.title}}}"/>
                </div>
                {{/each}}
            </div>
            <div class="narrative-indicators">
                {{#each items}}
                <div class="narrative-progress"></div>
                {{/each}}
            </div>
        </div>

        <div class="narrative-content">
            <div class="narrative-content-inner">
                {{#each items}}
                <div class="narrative-content-item">
                    <div class="narrative-content-title">
                        <h5 class="narrative-content-title-inner">
                           {{{title}}} 
                        </h5>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            {{{body}}}
                        </div> 
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>    
</div>